p {
    color: rgb(255, 0, 0);
    background: rgb(10, 10, 189,100);
}
li {
    color: rgb(6, 34, 0)
}
/*Estilo de id*/
    #Miguel {
    color: rgb(3, 0, 36);
    background: red;
}
/*Estilo de clase*/
.SOSO{
    color:maroon;
    background:purple;
}







